@import "nib";
global-reset();
@import "../common/common.styl";

@font-face {
  font-family: 'Peralta';
  font-style: normal;
  font-weight: 400;
  src: local('Peralta'), local('Peralta-Regular'), url(http://themes.googleusercontent.com/static/fonts/peralta/v1/KA2KMFcRb4GJICetU6Rd5Q.woff) format('woff');
}

/**
 * MIXINS
 */
centered() {
	width: 980px;
	margin: 0 auto;
}

green-grad(inverted = '') {
	if(inverted == 'inverted') {
		background: linear-gradient(top, #66A739, #77C043);
	} else {
		background: linear-gradient(top, #77C043, #66A739);
	}

	border: 1px solid #0B9444;
}

pink-grad(inverted = '') {
	if(inverted == 'inverted') {
		background: linear-gradient(top, #D25239, #EA5C41);
	} else {
		background: linear-gradient(top, #EA5C41, #D25239);		
	}

	border: 1px solid #986050;
}

blue-grad(inverted = '') {
	if(inverted == 'inverted') {
		background: linear-gradient(top, #0099D2, #00ADEE);
	} else {
		background: linear-gradient(top, #00ADEE, #0099D2);		
	}

	border: 1px solid #00728C;
}

/**
 * GENERAL STYLE
 */

.center {
	centered();
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

highlight = #00AEEF;
::selection 	 	{background: highlight; color: #FFF;}
::-moz-selection 	{background: highlight; color: #FFF;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: highlight;}

a { color: inherit;}

h2, h3, h4, h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h3 {
	border-bottom: 1px solid #939598;
	font-size: 24px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

h4 {
	font-size: 20px;
	margin-bottom: 8px;
}

p{
	font-size: 15px;
	line-height: 1.4em;
}

li {
	line-height: 1.4em;
}

strong {
	font-weight: bold;
}

section {
	border-bottom: 1px solid rgba(#000, .5);
	border-top: 1px solid rgba(#FFF, .9);
	padding: 30px 0;
	clearfix();
}

/**
 * HEADER
 */
header {
	border-bottom: 1px solid rgba(255, 255, 255, .25);
	transform: translate3d(0,0,0);
	size = 80px;
	dur = .2s ease-out;
	background: rgba(#000, .3);
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	line-height: size;
	transition: all dur;
	margin-top: 0;
	img {
		transition: all dur;
		margin-top 10px;
		float: left;
		display: block;
		transform: scale(1);
	}
	h1 {
		transition: all dur;
		float: left;
		margin-left: 20px;
		color: #FFF;
		font-family: Peralta;
		font-size: 48px;
		line-height: size;
		transform: scale(1);
	}
	#main-nav {
		float: right;
		li {
			user-select: none;
			transition: all dur;
			color: #DDD;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .5)
			float: left;
			margin-left: 25px;
			line-height: size;
			cursor: pointer;
			&:hover, &.active {
				color: #FFF;
			}
		}
	}
	&.shrink {
		size = 50px;
		background: #222;
		line-height: size;
		h1 {

			line-height: size;
			transform: scale(.8);
			margin-left: -5px;
			margin-top: 3px;
		}
		img {
			margin-top: -2px;
			transform: rotate(5deg) scale(.7);
		}
		#main-nav li {
			color: #777;
			margin-top: 3px;
			line-height: size;
			&:hover, &.active {
				color: #FFF;
			}
		}
	}
}

/**
 * 	MAIN CONTENT
 */
section#main-content {
	background-image: url('/img/clouds.png'), url('/img/homeBg2.png');
	background-position: 10px 463px, center;
	height: 515px;
	background-repeat: repeat-x, repeat;
	border-top: 0;
	margin-bottom: -50px;
	.centered {
		width: 980px;
		margin: 0 auto;
		padding-top: 70px;
	}
	
	#hero {
		// background-clip: padding-box;
		// background-color: #E6E7E8;
		float: left;
		margin-right: 20px;
		padding: 20px;
		width: 590px;
		height: 410px;
		// box-shadow: 0 0 10px #333;
		border-radius: 8px;
		color: #FFF;
		position: relative;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
		h2 {
			margin-top: -15px;
			font-size: 110px;
			line-height: 100px;
			position: relative;
		}
		p {
			margin-top: 20px;
			font-size: 18px;
			// color: #58595B;
		}
		.owl {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}


#info {
	padding: 20px;
	background: #E6E7E8;
	float: left;
	width: 290px;
	height: 410px;
	border-radius: 8px;
	box-shadow: 0 0 10px #333;
	position: relative;
	color: #58595B;

	input[type=text], input[type=password] {
		width: 274px;
		border-radius: 4px;
		padding: 8px;
		font-size: 12px;
		border-color: #FFF #DDD #DDD #FFF;
		margin-top: 5px;
	}
	input[type=submit] {
		appearance: none;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 15px;
		line-height: 0px;
		border-radius: 4px;
		color: #FFF;
		text-shadow: 1px 1px 0 #333;
		padding-bottom: 3px;
		cursor: pointer;
		margin-top: 5px;
		&#sign-in-button {
			green-grad();
			width: 100px;
			margin-left: 6px;
			height: 33px;
			&:hover {
				green-grad('inverted');
			}
		}
		&#sign-up-button {
			pink-grad();
			width: 125px;
			height: 45px;
			float: right;
			font-size: 18px
			margin-top: 10px;
			&:hover {
				pink-grad('inverted');
			}
		}
	}

	#password {
		width: 164px;
		float: left;
	}

	.forgot {
		display: block;
		clear: both;
		font-weight: 200;
		font-size: 13px;
		color: #444;
		margin: 10px 0;
		&:hover {
			text-decoration: underline;
		}
	}

	#sign-up {
		h4 {
			margin-top: 45px;
		}
	}
}

/**
 * ABOUT SECTION
 */
section#about {
	background: #D1D3D4;
	color: #6D6E71;
	h3 {
		border-color: #BBB;
	}
	h4 {
		margin-bottom: 15px;
	}

	.bucket {
		width: 300px;
		float: left;
		&:nth-child(3n) {
			margin: 0 40px;
		}
		.box {
			height: 320px;
			background: #FFF;
			box-shadow: inset 1px 1px 2px rgba(#666, .9), inset -1px -1px 2px rgba(#FFF, .5);
			margin-bottom: 25px;
		}
 	}
}

/**
 * ABOUT SECTION
 */
section#faq {
	background: #58595B;
	border-top-color: #AAA;
	color: #E6E7E8;
	h3 {
		text-align: center;
		border-color: #777;
	}
	ul {
		li {
			clearfix();
			margin-bottom: 30px;
			&:nth-child(3n+1) {
				.num {
					pink-grad();
				}
			}
			&:nth-child(3n+2) {
				.num {
					green-grad();
				}
			}
			&:nth-child(3n+3) {
				.num {
					blue-grad();
				}
			}
		}
		.num {
			size = 60px;
			float: left;
			width: size;
			height: size;
			line-height: size;
			border-radius: 5px;
			margin-right: 28px;
			text-align: center;
			font-size: 37px;
			font-weight: bold;
			letter-spacing: -1px;
			box-shadow: 1px 1px 1px #353535;
		}
		p {
			float: right;
			width: 840px;
			background: #333;
			border-radius: 8px;
			padding: 20px;
			box-shadow: inset 1px 1px 0 #1A1A1A, inset -1px -1px 0 #777;
			font-size: 20px;
			font-weight: 200;
			line-height: 1.2em;
			strong {
				display: block;
				font-size: 38px;
				margin-bottom: 18px;
			}
		}
	}
}

/**
 * FOOTER
 */
section#footer {
	padding: 20px;
	border-top: 1px solid #777;
	background: #414042;
	color: #E6E7E8;
	clearfix();
	.center {
		// width: 820px;
	}
	h3 {
		border-color: #555;
	}
	hr {
		padding-top: 25px;
		border: 0;
		border-bottom: 1px solid #555;
		clear: both;
		margin-bottom: 20px;
	}
	ul {
		width: 260px;
		float: left;
	}
	h4 {
		margin-bottom: 15px;
	}
	.sign-up-circle {
		size = 155px;
		float: left;
		display: block;
		width: size;
		height: size;
		line-height: size;
		text-align: center;
		border-radius: 50%;
		pink-grad();
		font-weight: bold;
		font-size: 22px;
		text-shadow: 1px 1px 0 #222;
		box-shadow: 0px 2px 0 #222, inset 0 1px 0 rgba(#FFF, .25);
		&:hover {
			pink-grad('inverted');
		}
	}
}


	